.login {
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    z-index: 10;
}

.loginForm {
    width: 60%;
    margin: 250px auto;
}

.toast {
    height: 100px;
    background-color: grey;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    font-size: 36px;
}

.sidebar {
    width: 200px;
    position: fixed;
    right: 0;
    height: 100%;
    color: white;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow-y: scroll;
}

.otherBubble {
    padding: 5px 10px;
    line-height: 30px;
    font-size: 15px;
    color: white;
    strong {
        color: #00838F;
        font-weight: 700;
        margin-right: 10px;
    }
    span {
        background: #00BCD4;
        padding: 10px;
    }
}

.selfBubble {
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    overflow: hidden;
    strong {
        line-height: 30px;
        float: right;
        color: #00838F;
        font-weight: 700;
        margin-left: 10px;
    }
    span {
        float: right;
        background: #009688;
        padding: 10px;
    }
}

.inputForm {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
